.settings-container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--card-background);
  border-radius: 12px;
  box-shadow: var(--card-shadow);
  text-align: center;
}

.settings-container h1 {
  font-size: 24px;
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.setting-dark-mode {
  margin-bottom: 30px;
}

.setting-dark-mode h3 {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.theme-switch-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  background-color: #1677ff;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
}

.theme-switch-btn:hover {
  background-color: #125ecc;
}

.features {
  text-align: left;
}

.features h3 {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 15px;
}

.changelog-collapse {
  background-color: var(--background-color);
  border: 1px solid rgba(22, 119, 255, 0.341);
  border-radius: 8px;
}

.changelog-collapse .ant-collapse-header {
  color: #1677ff !important;
  font-size: 16px;
  padding: 12px 16px !important;
}

.changelog-collapse .ant-collapse-content {
  background-color: var(--background-color);
  border-top: 1px solid rgba(22, 119, 255, 0.341);
}

.changelog-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.changelog-list li {
  font-size: 14px;
  color: var(--text-color);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .settings-container {
    width: 90%;
    padding: 15px;
  }

  .settings-container h1 {
    font-size: 20px;
  }

  .setting-dark-mode h3,
  .features h3 {
    font-size: 16px;
  }

  .theme-switch-btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .changelog-collapse .ant-collapse-header {
    font-size: 14px;
  }

  .changelog-list li {
    font-size: 12px;
  }
}