.settings-container{
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 90vh;
  border-radius: 12px;
  padding: 20px 10px;
  color: var(--text-color);
}

.setting-dark-mode{
  background-color: var(--card-background);
  height: 15vh;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 12px;
}

.theme-switch-btn{
  border: 1px solid #1677ff;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 8px;
  color: var(--text-color);
  background-color: var(--background-color);
}

.theme-switch-btn:hover{
  background-color: rgb(53, 53, 53);
} 